<div class="container-fluid my-5 px-5 text-center">
  <h2 class="text-center w-100" id="about">Sobre mí</h2>
  <hr>
  <p class="text-center">
        Mi nombre es Kevin Javier Castillo Hernández, soy egresado de Ingeniería en Ciencias de la Computación de la Universidad Don Bosco de El Salvador y mi principal pasión es el desarrollo web.
    <br>He completado cursos y programas que me han permitido formarme como el profesional, uno de ellos fue gracias a una beca otorgada por la secretaria de innovación de la republica de El Salvador y Platzi, completando mi formación como Desarrollador Fullstack con Javascript.
    <br><br>De igual forma tuve la oportunidad de ser parte del programa Be The One, donde completé mi formación como desarrollador Fullstack, utilizando lenguajes como Javascript y Java.
    <br><br>Durante los últimos años me he especializado tanto en tecnologías de frontend (HTML5, CSS, Javascript, Angular, React), como backend (Node js, Express Node js, Spring Boot, Java EE)
    <br>La frase “Siempre hay algo por aprender” es de mis principales motivaciones, trato de mejorar cada día y de crecer tanto personal como profesionalmente.
  </p>
  <a href="https://drive.google.com/file/d/1SveqryJ7b_tSXN-XYASIgnwACXZy3MYl/view?usp=sharing" target="_blank" class="btn btn-danger px-4" id="cv">CV</a>
</div>
