<div class="container-fluid my-5 px-5 text-center">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center w-100" id="tec">Tecnologías</h2>
      <hr>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center">
      <div class="card shadow p-3 mb-5 bg-body rounded border-0" style="width: 18rem;">
        <img src="./../../../assets/frontend.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Frontend</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center">
      <div class="card shadow p-3 mb-5 bg-body rounded border-0" style="width: 18rem;">
        <img src="./../../../assets/backend.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Backend</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center">
      <div class="card shadow p-3 mb-5 bg-body rounded border-0" style="width: 18rem;">
        <img src="./../../../assets/otros.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Otros</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
  </div>
</div>
